[submodule "mini-le-shell"]
	path = mini-le-shell
	url = git@github.com:brkncookie/mini-le-shell.git
[submodule "ft_irc"]
	path = ft_irc
	url = git@github.com:brkncookie/ft_irc.git
[submodule "pm_junior"]
	path = pm_junior
	url = git@github.com:brkncookie/pm_junior.git
[submodule "dependency_analyzer"]
	path = dependency_analyzer
	url = git@github.com:brkncookie/dependency_analyzer.git
[submodule "minitalk"]
	path = minitalk
	url = git@github.com:brkncookie/minitalk.git
[submodule "so_long"]
	path = so_long
	url = git@github.com:brkncookie/so_long.git
[submodule "push_swap"]
	path = push_swap
	url = git@github.com:brkncookie/push_swap.git
